{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="card text-bg-dark" style="width: 100%; height: 240px;">
            <img src="{{ course.image.url }}" class="card-img h-100" alt="...">
            <div class="card-img-overlay">
                <div class="d-flex justify-content-between">
                    <h4 class="card-title">{{ course.name }}</h4>
                    <a href="{% url 'course_edit' course.id %}" class="btn btn-sm bg-white text-dark"><i class="bi bi-pencil me-2"></i>Setting</a>
                </div>
            </div>
        </div>

        <div class="list-group mt-3">
            <div class="list-group-item">
                <p class="m-2 text-muted"><i class="bi bi-pencil me-2"></i>Write a message for your course.</p>
            
                <a class="stretched-link" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"></a>
            </div>
    
            <div class="collapse list-group-item" id="collapseExample">
                <form>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Your message</label>
                        <textarea type="textarea" class="form-control" id="exampleInputPassword1" rows="3"></textarea>
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">Disable comments</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Publish</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
