{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        <form action="" method="post">
            {% csrf_token %}

            <div class="col d-grid gap-3">
                <div class="row">
                    {{ form.course_code|as_crispy_field }}
                </div>
            </div>

            <button class="btn btn-primary mt-3" type="submit">Join</button>
            <a class="btn btn-outline-danger mt-3" href="{% url 'course_list' %}">Cancel</a>
        </form>
    </div>
{% endblock %}
