{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        {% if not grades %}
            <div class="list-group">
                <div class="list-group-item text-center fw-bold">
                    Grades were not found
                </div>
            </div>
        {% endif %}

        <div class="accordion" id="accordionTaskList">
            {% for task in tasks %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading-{{ task.id }}">
                        <button class="accordion-button collapsed d-block" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ task.id }}" aria-expanded="false" aria-controls="collapse-{{ task.id }}">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>{{ task.name }}</div>
                                <small class="text-muted">
                                    {% if task.date_due %}
                                        Due {{ task.date_due|date:'M j' }}
                                    {% else %}
                                        No due date
                                    {% endif %}
                                </small>
                            </div>
                        </button>
                    </h2>
                    <div id="collapse-{{ task.id }}" class="accordion-collapse collapse" aria-labelledby="heading-{{ task.id }}" data-bs-parent="#accordionTaskList">
                        <div class="accordion-body">
                            <div class="d-grid gap-3">
                                <div class="row">
                                    <div class="d-flex justify-content-between">
                                        <small class="text-muted">Name</small>
                                        <small class="text-muted">
                                            {% if task.points %}
                                                Out of {{ task.points }}
                                            {% else %}
                                                Ungraded
                                            {% endif %}
                                        </small>
                                    </div>
                                </div>
                                {% for grade in grades %}
                                    {% if grade.task_id == task.id %}
                                        <div class="row">
                                            <div class="col">
                                                {{ grade.user }}
                                            </div>

                                            <div class="col-2">
                                                <div class="float-end text-success">
                                                    {% if grade.grade != None and task.points != None %}
                                                        {{ grade.grade }}<small class="text-muted"> / {{ task.points }}</small>
                                                    {% elif not task.date_due and not task.points %}
                                                        <small class="text-muted">N/A</small>
                                                    {% elif task.date_due and date_today|date:'M j' >= task.date_due|date:'M j' %}
                                                        <small class="text-danger">Missing</small>
                                                    {% elif teacher %}
                                                        <a href="{% url 'grade_edit' course.id grade.id %}" class="btn btn-sm btn-outline-primary">
                                                            Assign
                                                        </a>
                                                    {% else %}
                                                        <small class="text-muted">N/A</small>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
