{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="container">
        {% include "navbar.html" %}

        <div class="accordion" id="accordionTaskList">
            {% for task in tasks %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading-{{ task.id }}">
                        <button class="accordion-button collapsed d-block" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ task.id }}" aria-expanded="false" aria-controls="collapse-{{ task.id }}">
                            <div class="d-flex justify-content-between">
                                <div>{{ task.name }}</div>
                                <small class="text-muted">
                                    {% if task.points %}
                                        Max grade {{ task.points }}
                                    {% else %}
                                        Ungraded
                                    {% endif %}
                                </small>
                            </div>
                        </button>
                    </h2>
                    <div id="collapse-{{ task.id }}" class="accordion-collapse collapse" aria-labelledby="heading-{{ task.id }}" data-bs-parent="#accordionTaskList">
                        <div class="accordion-body">
                            <div class="d-grid gap-3">
                                {% for grade in grades %}
                                    {% if grade.task_id == task.id %}
                                        <div class="row">
                                            <div class="col">
                                                <div>
                                                    {{ grade.user }}
                                                </div>
                                            </div>

                                            <div class="col-2">
                                                <div class="float-end text-success">
                                                    {% if grade.grade != None %}
                                                        {{ grade.grade }}<small class="text-muted"> / {{ task.points }}</small>
                                                    {% elif task.points == None %}
                                                        <small class="text-muted">Ungraded</small>
                                                    {% else %}
                                                        <a href="{% url 'grade_edit' course.id grade.id %}" class="btn btn-sm btn-outline-primary">
                                                            Assign
                                                        </a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
