{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="list-group">
            <div class="list-group-item">
                <h5>{{ task.name }}</h5>
        
                <div class="d-flex justify-content-between">
                    <small class="text-muted">
                        {{ task.author }}
                    </small>
                    <small class="text-muted">
                        {% if task.date_due %}
                            Due {{ task.date_due|date:'M j' }}
                        {% else %}
                            No due date
                        {% endif %}
                    </small>
                </div>
            </div>

            <div class="list-group-item">
                <div class="row">
                    <div class="col">
                        <small class="text-muted">Posted {{ task.date_created|date:'M j' }}</small>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col">
                        <small>
                            {% if task.description %}
                                {{ task.description }}
                            {% else %}
                                No description.
                            {% endif %}
                        </small>
                    </div>
                </div>
            </div>
        </div>

        {% if student %}
            <div class="list-group mt-3">
                <div class="list-group-item">
                    <div class="row">
                        <div class="col">
                            <h6>Your work</h6>

                            <button type="button" class="btn btn-sm btn-outline-primary w-100" data-bs-toggle="modal" data-bs-target="#attachFileModal">
                                Attach file
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal" id="attachFileModal" tabindex="-1" aria-labelledby="attachFileModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="attachFileModalLabel">Attach file</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            
                            <div class="modal-body">
                                <div class="input-group">
                                    <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-sm btn-primary">Save changes</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
